// @import "bulma/bulma.sass";
// @import "bulma-block-list/src/block-list.scss";
@import "@picocss/pico/css/pico.min.css";

.container {
  padding: 0 0.5rem;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}