@import './styles/external';

.navlink.active {
  --background-color: var(--primary-focus);
}

.container {
  padding: 0 0.5rem;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

details[role='menu'] {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;

  &[open] summary {
    margin: 0;

    &::before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 80;
      display: block;
      cursor: default;
      content: ' ';
      background: transparent;
    }
  }

  summary {
    list-style: none;

    &::after {
      display: none;
    }
  }

  summary + ul {
    list-style: none;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: rgba(140, 149, 159, 0.2) 0px 8px 24px 0px;
    margin: 5px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 300px;
    z-index: 100;
  }
}
